

<section class="banner-section" style="padding:160px 0 150px;">
    <div class="banner-bg bg_img bg-fixed" data-background="/imgs/img/history/history-bg.jpg" style="background-image: url('/imgs/img/history/history-bg.jpg');"></div>
    <div class="container">
        <div class="banner-content">
            <h1 class="title cd-headline clip">
                <span class="d-block">Đổi khuyến mãi</span>
            </h1>
            <p>Cám ơn bạn đã đồng hành cùng Ba Anh Em. Chúc bạn xem phim vui vẻ!</p>
        </div>
    </div>
</section>