@model school_major_project.Models.Country

@{
    ViewData["Title"] = "Chỉnh sửa quốc gia";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section>
    <main class="main">
        <div class="container-fluid">
            <div class="row">
                <!-- main title -->
                <div class="col-12">
                    <div class="main__title">
                        <h2>@ViewData["Title"]</h2>
                        <a asp-action="Index" class="main__title-link">Trở về</a>

                    </div>
                </div>
                <!-- end main title -->
                <!-- form -->
                <div class="col-12">
                    <form method="post" asp-action="Edit" class="form">
                        <input type="hidden" asp-for="Id" />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-12">

                                <label class="form-check-label" style="color: white" asp-for="Name">Quốc gia</label>
                                <input type="text" class="form__input" placeholder="Nhập tên quốc gia"
                                       asp-for="Name" required aria-required="true" />
                                <span asp-validation-for="Name" class="text-danger"></span>

                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="form__btn">Thực hiện</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end form -->
            </div>
        </div>
    </main>
</section>