@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ==========Preloader========== -->
<!-- ==========Banner-Section========== -->
<section class="main-page-header speaker-banner bg_img"
         data-background="/imgs/img/banner/banner07.jpg">
    <div class="container">
        <div class="speaker-banner-content">
            <h2 class="title">Về chúng tôi</h2>
            <ul class="breadcrumb">
                <li>
                    <a href="/"> Home </a>
                </li>
                <li>about us</li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Speaker-Single========== -->
<section class="about-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="event-about-content">
                    <div class="section-header-3 left-style m-0">
                        <span class="cate"> Chúng tôi là Ba Anh Em  </span>
                        <h2 class="title">Vài thông tin về chúng tôi</h2>
                        <p>
                            Là ba thành viên trong team Ba Anh Em, hiện đang là sinh viên
                            năm 3 tại HUTECH University

                        </p>
                        <p>
                            Chúng tôi nỗ lực cùng nhau hoàn thành các đồ án môn học
                            một cách tốt nhất, chỉnh chu nhất, hoàn thiện profile cá nhân
                            chinh phục con đường developer website, liên tục học hỏi và trau dồi kiến thức về
                            các framework và programming languages ^^
                        </p>
                        <a href="#0" class="custom-button">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-none d-lg-block">
                <div class="about-thumb">
                    <img src="/imgs/img/about/about01.png"
                         alt="about" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Speaker-Single========== -->
<!-- ==========Client-Section========== -->
<section class="client-section padding-bottom padding-top bg_img"
         data-background="/imgs/img/client/client-bg.jpg">
    <div class="container">
        <div class="section-header-3">
            <span class="cate">Ý kiến khách hàng </span>
            <h2 class="title">Fans của chúng tôi nói gì</h2>
        </div>
        <div class="client-slider owl-carousel owl-theme">
            <div class="client-item">
                <div class="client-thumb">
                    <img src="/imgs/img/client/client01.jpg"
                         alt="client" />
                </div>
                <div class="client-content">
                    <h5 class="title">
                        <a href="#0">Nhật Minh</a>
                    </h5>
                    <span class="info"><i class="fas fa-check"></i> Đã xác minh</span>
                    <blockquote class="client-quote">
                        "Rất thích website Ba Anh Em vì có nhiều chương trình khuyến mãi giảm giá cho khách hàng !"
                    </blockquote>
                </div>
            </div>
            <div class="client-item">
                <div class="client-thumb">
                    <img src="/imgs/img/client/client03.jpg"
                         alt="client" />
                </div>
                <div class="client-content">
                    <h5 class="title">
                        <a href="#0">Phúc Ngô</a>
                    </h5>
                    <span class="info"><i class="fas fa-check"></i> Đã xác minh</span>
                    <blockquote class="client-quote">
                        "Giá cả thì phải chăng hơn các website khác đó nha ! Dễ sử dụng nữa"
                    </blockquote>
                </div>
            </div>
            <div class="client-item">
                <div class="client-thumb">
                    <img src="/imgs/img/client/client02.jpg"
                         alt="client" />
                </div>
                <div class="client-content">
                    <h5 class="title">
                        <a href="#0">Quỳnh Mai</a>
                    </h5>
                    <span class="info"><i class="fas fa-check"></i> Đã xác minh</span>
                    <blockquote class="client-quote">
                        "Khi tôi muốn xem phim thì Ba Anh Em là website tôi nghĩ đến đầu tiên đó mọi người!"
                    </blockquote>
                </div>
            </div>
            <div class="client-item">
                <div class="client-thumb">
                    <img src="/imgs/img/client/client04.jpg"
                         alt="client" />
                </div>
                <div class="client-content">
                    <h5 class="title">
                        <a href="#0">Hoàng Long</a>
                    </h5>
                    <span class="info"><i class="fas fa-check"></i> Đã xác minh</span>
                    <blockquote class="client-quote">
                        "Tuyệt vời. 10 điểm không có nhưng"
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Client-Section========== -->
<!-- ==========Speaker-Section========== -->
<section class="speaker-section padding-bottom padding-top">
    <div class="container">
        <div class="section-header-3">
            <span class="cate">Gặp gỡ những thành viên chủ chốt</span>
            <h2 class="title">Đội ngũ chuyên gia</h2>

        </div>
        <div class="speaker--slider">
            <div class="speaker-slider owl-carousel owl-theme">
                <div class="speaker-item">
                    <div class="speaker-thumb">
                        <img src="~/imgs/img/speaker/speaker011.jpg"
                             alt="speaker" />
                    </div>
                    <div class="speaker-content">
                        <h5 class="title">
                            <a href="#">
                                Bùi Hoàng Việt
                            </a>
                        </h5>
                        <span>CO-FOUNDER, CEO</span>
                    </div>
                </div>
                <div class="speaker-item">
                    <div class="speaker-thumb">
                        <img src="~/imgs/img/speaker/speaker022.jpg"
                             alt="speaker" />
                    </div>
                    <div class="speaker-content">
                        <h5 class="title">
                            <a href="#">
                                Phạm Tiến Thuận Phát
                            </a>
                        </h5>
                        <span>CO-FOUNDER, CEO</span>
                    </div>
                </div>
                <div class="speaker-item">
                    <div class="speaker-thumb">
                        <a href="#">
                            <img src="~/imgs/img/speaker/speaker033.jpg"
                                 alt="speaker" />
                        </a>
                    </div>
                    <div class="speaker-content">
                        <h5 class="title">
                            <a href="#">Bùi Chí Bảo</a>
                        </h5>
                        <span>CO-FOUNDER, CEO</span>
                    </div>
                </div>
                <div class="speaker-item">
                    <div class="speaker-thumb">
                        <a href="event-speaker.html">
                            <img src="~/imgs/img/speaker/315715370_1494533517688206_7084606788825886416_n.jpg"
                                 alt="speaker" />
                        </a>
                    </div>
                    <div class="speaker-content">
                        <h5 class="title">
                            <a href="#">
                                Phạm Trần Nhật Minh
                            </a>
                        </h5>
                        <span>CO-FOUNDER, CEO</span>
                    </div>
                </div>
            </div>
            <div class="speaker-prev">
                <i class="flaticon-double-right-arrows-angles"></i>
            </div>
            <div class="speaker-next">
                <i class="flaticon-double-right-arrows-angles"></i>
            </div>
        </div>
    </div>
</section>