@page
@model LoginModel

@{
    ViewData["Title"] = "Đăng nhập";
}
@section Styles {
    <link href="~/css/css/login.css" rel="stylesheet" />
}
<!-- ==========Preloader========== -->
<div class="container">
    <div class="padding-top ">
        <div class="account-area" style="max-width:none">
            <div class="section-header-3">
                <span class="cate">BA ANH EM XIN CHÀO</span>
                <h2 class="title">chào mừng trở lại</h2>
            </div>
            <form class="account-form" id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Input.Email" class="form-label">Email đăng nhập</label>
                            <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Ví dụ: name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Input.Password" class="form-label">Mật khẩu</label>
                            <div class="password-wrapper">
                                <input id="password" asp-for="Input.Password" type="password" autocomplete="current-password"
                                       aria-required="true" placeholder="Mật khẩu" />
                                <button type="button" class="toggle-password" id="togglePassword" data-target="password" tabindex="-1" style="width:auto">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>

                        </div>
                        <div class="form-group checkgroup">
                            <a id="forgot-password" class="forget-pass" asp-page="./ForgotPassword">Quên mật khẩu?</a>

                            <div class="checkbox-wrapper">
                                <input type="checkbox" asp-for="Input.RememberMe" />
                                <label asp-for="Input.RememberMe" class="bal2">
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="or"><span>Hoặc tiếp tục với</span></div>
                        <ul class="social-icons">
                            <li>
                                <a href="#" role="button">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#" role="button">
                                    <i class="fab fa-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="option">
                            Bạn chưa có tài khoản?
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng ký ngay</a>
                        </div>

                        <div class="form-group text-center">
                            <button id="login-submit" type="submit" class="register-button">ĐĂNG NHẬP</button>
                        </div>
                    </div>
                </div>




                @* <div>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div> *@
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
                document.getElementById("togglePassword").addEventListener("click", function () {
            let passwordInput = document.getElementById("password");
            let icon = this.querySelector("i");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        });


    </script>
}
