@page
@model RegisterModel
@{
    ViewData["Title"] = "Đăng ký";
}

@section Styles {
    <style>
        .text-danger {
            margin-top: 16px;
        }

        .padding-top {
            padding-top: 60px;
        }

        @@media (min-width:992px) {
            padding-top: 70px;
        }

        .account-area {
            padding: 45px;
        }

        input {
            background-color: rgba(0,0,0,0.5);
        }

        .account-area .account-form .form-group input {
            padding-left:15px;
        }
        .register-button {
            background-image: -webkit-linear-gradient( 169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100% );
            border:1px solid orange;
        }

        .password-wrapper {
            position: relative;
            width: 100%;
        }

            .password-wrapper input {
                width: 100%;
                padding-right: 40px; /* Chừa chỗ cho nút */
            }

            .password-wrapper .toggle-password {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                background: none;
                border: none;
                cursor: pointer;
                font-size: 16px;
                color: #666;
            }

    </style>
}
<div class="container">
    <div class="padding-top">
        <div class="account-area" style="max-width:none">
            <div class="section-header-3 text-center">
                <span class="cate">Chào mừng</span>
                <h2 class="title">đến với Ba Anh Em</h2>
            </div>

            <form class="account-form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="row">
                    <!-- Cột 1 -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Input.Email" class="form-label">Email đăng nhập</label>
                            <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Ví dụ: name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.PhoneNumber" class="form-label">Số điện thoại</label>
                            <input asp-for="Input.PhoneNumber" autocomplete="tel" aria-required="true" placeholder="Số điện thoại" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Cột 2 -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Input.Password" class="form-label">Mật khẩu</label>
                            <div class="password-wrapper">
                                <input id="password" asp-for="Input.Password" type="password" autocomplete="current-password" aria-required="true" placeholder="Mật khẩu" />
                                <button type="button" class="toggle-password" data-target="password" tabindex="-1" style="width:auto">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword" class="form-label">Xác nhận mật khẩu</label>
                            <div class="password-wrapper">
                                <input asp-for="Input.ConfirmPassword" id="confirmPassword"
                                autocomplete="new-password" aria-required="true" id="input-password" 
                                placeholder="Xác nhận mật khẩu" />

                                <button type="button" class="toggle-password" data-target="confirmPassword" tabindex="-1" style="width:auto">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group checkgroup">
                            <input type="checkbox" id="bal" required checked />
                            <label for="bal">
                                Tôi đồng ý với các
                                <a href="#0">Điều khoản, Chính sách bảo mật</a> và
                                <a href="#0">Chi phí</a>
                            </label>
                        </div>

                        <div class="form-group text-center">
                            <button id="register-submit" type="submit" class="register-button">ĐĂNG KÝ</button>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="option">
                            Bạn đã có tài khoản?
                            <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Đăng nhập</a>
                        </div>

                        <div class="or"><span>Hoặc tiếp tục với</span></div>
                        <ul class="social-icons">
                            <li>
                                <a href="#" role="button">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" role="button">
                                    <i class="fab fa-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>


            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.querySelectorAll(".toggle-password").forEach(button => {
            button.addEventListener("click", function () {
                let passwordInput = document.getElementById("password");
                let confirmPasswordInput = document.getElementById("confirmPassword");
                let icon = this.querySelector("i");

                if (passwordInput.type === "password" || confirmPasswordInput.type === "password") {
                    passwordInput.type = "text";
                    confirmPasswordInput.type = "text";
                    document.querySelectorAll(".toggle-password i").forEach(i => {
                        i.classList.remove("fa-eye");
                        i.classList.add("fa-eye-slash");
                    });
                } else {
                    passwordInput.type = "password";
                    confirmPasswordInput.type = "password";
                    document.querySelectorAll(".toggle-password i").forEach(i => {
                        i.classList.remove("fa-eye-slash");
                        i.classList.add("fa-eye");
                    });
                }
            });
        });


    </script>

}
