@model IEnumerable<school_major_project.Models.Country>


<!-- ==========Preloader========== -->
@{ await Html.RenderPartialAsync("_Preloader"); }


<section class="banner-section">
    <div class="banner-bg bg_img bg-fixed" data-background="/imgs/img/banner/banner02.jpg"
         style="background-image: url('/imgs/img/banner/banner02.jpg');"></div>

</section>

<section class="search-ticket-section padding-top pt-lg-0">
    <div class="container">
        <div class="search-tab bg_img" data-background="/imgs/img/ticket/ticket-bg01.jpg"
             style="background-image: url('/imgs/img/banner/ticket-bg01.jpg');">
            <div class="row align-items-center mb--20">
                <div class="col-lg-6 mb-20">
                    <div class="search-ticket-header">
                        <h6 class="category">welcome to Ba Anh Em</h6>
                        <h3 class="title">Bạn đang tìm phim gì nè?</h3>
                    </div>
                </div>
            </div>
            <div class="tab-area">
                <div class="tab-item active">
                    <div class="flex-form">
                        <form class="ticket-search-form" onsubmit="handleSearch(event)">
                            <div class="form-group large">
                                <div>
                                    <input type="text" name="searchname" placeholder="Tìm kiếm phim" required value="">
                                    <button type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <form>
                            <div class="form-group flex-center">
                                <div class="thumb-country">
                                    <img src="~/imgs/img/ticket/city.png" alt="ticket" />
                                </div>
                                <span class="type type-country">Quốc gia: </span>
                                <select class="select-bar" onchange="handleChange(this)">
                                    <option value="" disabled selected>Chọn quốc gia</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
         function handleSearch(event) {
        event.preventDefault();
        const searchTerm = event.target.searchname.value.trim();
        if (searchTerm) {
            window.location.href = `/tim-kiem-phim/tu-khoa=${searchTerm}/trang-1`;
        }
    }
</script>