@using school_major_project.Areas.Admin.Data
@model CategoryVM

@{
    ViewData["Title"] = "Chỉnh sửa thể loại";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section>
    <main class="main">
        <div class="container-fluid">
            <div class="row">
                <!-- main title -->
                <div class="col-12">
                    <div class="main__title">
                        <h2>@ViewData["Title"]</h2>
                        <a asp-action="Index" class="main__title-link">Trở về</a>

                    </div>
                </div>
                <!-- end main title -->
                <!-- form -->
                <div class="col-12">
                    <form method="post" asp-action="Edit" class="form">
                        <input type="hidden" asp-for="Id" />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        @Html.AntiForgeryToken() 
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="form-check-label" style="color: white" asp-for="CategoryDescription">Thể Loại Phim</label>
                                        <input type="text" class="form__input" placeholder="Nhập Thể Loại Phim"
                                               asp-for="CategoryDescription" required aria-required="true" />
                                        <span asp-validation-for="CategoryDescription" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="form__btn">Thực hiện</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end form -->
            </div>
        </div>
    </main>
</section>