@model school_major_project.Models.Blog

@{
    ViewData["Title"] = "Thêm bài viết mới";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section>
    <main class="main">
        <div class="container-fluid">
            <div class="row">
                <!-- main title -->
                <div class="col-12">
                    <div class="main__title">
                        <h2>@ViewData["Title"]</h2>
                        <a asp-action="Index" class="main__title-link">Trở về</a>

                    </div>
                </div>
                <!-- end main title -->
                <!-- form -->
                <div class="col-12">
                    <form asp-action="Create" method="post" class="form" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-12 col-md-5 form__cover">
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-12">
                                        <div class="form__img">
                                            <label for="form__img-upload">Upload cover (270 x 400)</label>
                                            <input id="form__img-upload" class="form__img-upload" asp-for="BlogPoster"
                                                   type="file" accept="image/*">
                                            <img id="form__img" src="#" alt="Preview image">
                                            <span asp-validation-for="BlogPoster" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 form__content">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <input type="text" class="form__input" placeholder="Nhập tiêu đề blog"
                                               asp-for="BlogTitle" name="BlogTitle" required />
                                        <span asp-validation-for="BlogTitle" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <input type="datetime-local" class="form__input" placeholder="Ngày tạo"
                                               asp-for="BlogCreatedDate" name="BlogCreatedDate" required />
                                        <span asp-validation-for="BlogCreatedDate" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <textarea id="text" name="BlogContent"
                                                  asp-for="BlogContent"
                                                  class="form__textarea" placeholder="Nhập nội dung" required></textarea>
                                        <span asp-validation-for="BlogContent" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <button type="submit" class="form__btn">thực hiện</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end form -->
            </div>
        </div>
    </main>
</section>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function() {
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $('#form__img').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $('.form__img-upload').on('change', function() {
                readURL(this);
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}